.third__section {
  .trust__us__h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    text-align: center;
    margin-bottom: 30px;
  }

  .trust__us__company {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__name {
      min-height: 120px;
      min-width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .name__1 {
      background: #1C4280;
    }

    .name__2 {
      background: #143646;
    }

    .name__3 {
      background:linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
    }

    .name__4 {
      background: #9E4DC3;
    }

    .name__5 {
      background: #FD9339;
    }

    .name__6 {
      background: #E2E2E4;
    }

    .name__7 {
      background: #C71C36;
    }

    .name__8 {
      background: #DCF3F9;
    }

    .name__9 {
      background: #EAEAEA;
    }

    .name__10 {
      background: #282240;
    }

    .name__11 {
      background: #1D4568;
    }

    .name__12 {
      background: #000000;
    }
  }
}

@media screen and (min-width: 1920px) {
  .third__section {
    .trust__us {
      display: block;
      margin: 0 auto 60px;
      max-width: 1720px;

      .trust__us__company {

        .name__1 {
          border-radius: 8px 0 0 0;
        }

        .name__4 {
          border-radius: 0 8px 0 0;
        }

        .name__9 {
          border-radius: 0 0 0 8px;
        }

        .name__12 {
          border-radius: 0 0 8px 0;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .third__section {
    .trust__us__company {
      &__name {
        min-height: 120px;
        min-width: 33.33%;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .third__section {
    .trust__us__company {
      &__name {
        min-width: 100%;
      }
    }
  }
}