@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$mt_color: #FFFFFF;
$title_color: #24A3FF;

@mixin hover_red {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin hover_red_2 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin input_decor {
  min-width: 100%;
  min-height: 56px;
  padding: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;

  &:focus {
    border: 1px solid #24A3FF;
    outline: 0;
  }

  &:disabled {
    background: #EDEDF7;
    border: 1px solid #EDEDF7;
    border-radius: 8px;
  }

  &:invalid {
    color: #FF0000;
    border: 1px solid #FF0000;
    outline: 0;
  }
}

@mixin input_placeholder_decor {
  padding: 0 15px 15px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}